*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
build/
app/build/
app/release/
captures/
.externalNativeBuild
.cxx
local.properties

# Ignore LLM models (Huge files that shouldn't be tracked)
*.litertlm
*.tflite
*.bin
*.gguf
*.litertlm.jar
/app/src/main/assets/*.litertlm
/app/src/main/assets/*.tflite
/app/src/main/assets/*.bin
/app/src/main/res/raw/*.tflite

# Output files
*.apk
